<script id="_songRecord" type="text/html">
{{#.}}

  <object type="application/x-shockwave-flash"
    name={{{.}}}
    id={{{.}}}
    style="outline: none" data="player.swf" width="128" height="24">
    <param name="bgcolor" value="#FFFFFF">
    <param name="wmode" value="transparent">
    <param name="menu" value="false">
    <param name="flashvars"
    value="soundFile=zic/{{.}}.mp3&amp;titles= &amp;playerID=musik-filmmusik-1&amp;initialvolume=100&amp;bg=000000&amp;left=000000&amp;leftbg=000000&amp;rightbg=000000&amp;rightbghover=FFFFFF&amp;righticon=FFFFFF&amp;righticonhover=000000&amp;lefticon=FFFFFF&amp;volslider=FFFFFF&amp;voltrack=000000">
  </object>

{{/.}}
</script>
